#pane {
    -fx-background-color: #1F2227;
}

.gridPane {
	-fx-stroke-width: 1;
	-fx-stroke: #918c86;
}

.clickable {
	-fx-cursor: hand;
}

.bg {
	-fx-stroke: rgba(145, 139, 119, 0);
	-fx-stroke-width: 2;
}

#ball-hovered > .bg, .clickable:hover > .bg, .clickable > .bg {
	-fx-fill: rgba(145, 139, 119, 0.5);
	-fx-stroke: rgba(145, 139, 119, 0.7);
	-fx-stroke-width: 2;
}

.clickable > .bg {
	-fx-fill: rgba(145, 139, 119, 0.3);
	-fx-stroke: rgba(145, 139, 119, 0.5);
}

.track {
	-fx-fill: rgba(255, 255, 255, 0.2);
}

.clickable > .track {
	-fx-fill: rgba(255, 255, 255, 0.25);
}
