#pane {
	-fx-background-color: #1F2227;
	-fx-background-size: cover;
}

#title {
	-fx-font-size: 100;
	-fx-fill: #C7B59D;
}

.container {
	-fx-stroke: #C7B59D;
	-fx-stroke-width: 3;
}

.level-number {
	-fx-font-size: 25;
	-fx-fill: #C7B59D;
}

